@use "typography" as *;

body,
html {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

/* animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInRole {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 50%;
    transform: translateY(0);
  }
}
